In [2]:
import pandas as pd
df = pd.read_csv('points.csv')
df

,playerId,name,dailyPoints,eventPoints,medalBonus,streakBonus,totalPoints,longestTop10Streak,medalSetRank,medalSetCompletedOn
0,13d27d58144a648163eaf818ac35c332,Mitchell,141,180,40,25,386,8,2.0,2025-11-08
1,f33247461c13011c6c8465f7aed94ddc,Kitniti,133,168,50,25,376,8,1.0,2025-11-07
2,d920213885f59abd9b181514e8ed0231,Lewis,81,152,0,25,258,8,NaN,NaN
3,3b0f13b4cba146f2372524ff3b19c6fe,Nick,61,124,0,0,185,2,NaN,NaN
4,f5b76a1207cd52e580007eb2d7fcc6fa,Kevin,59,112,0,0,171,3,NaN,NaN
5,a0055187308a6831e6d914375d961273,Darisch Rian,32,112,0,0,144,3,NaN,NaN
6,676c8b8d1048a9b6f7dbb24b8c80b30c,Goh,32,104,0,0,136,5,NaN,NaN
7,98610e86acb0a629da17f0993ec0fd50,奕安,17,116,0,0,133,1,NaN,NaN
8,2923a7c3990777f6e12bacee960e1d72,Michelle,23,80,0,0,103,2,NaN,NaN
9,4c4b0872dc5e9964b8715ff68a609854,Esuabom,20,76,0,0,96,1,NaN,NaN
10,0f7455b7ea9925a9a50a2fa90060756d,柏堯,10,76,0,0,86,2,NaN,NaN
11,87748a7dc543b6e9a10e2d7a6184aa3e,Jeremy,54,0,0,0,54,1,NaN,NaN
12,c8e2e46a7e6e8394b1aa20ef5aef061a,Michael,12,36,0,0,48,2,NaN,NaN
13,6db5d348a7fe7079e871fd8af0c91347,Chris,22,24,0,0,46,2,NaN,NaN
14,525364925f8a9aee6c56c03886cdb6d2,Paula,9,32,0,0,41,1,NaN,NaN
15,51c6f6019317c84ce59b2f83962da383,Sharon,6,24,0,0,30,1,NaN,NaN
16,dfec62ed27ec3e559347ee123c0c7a5a,Louie James,6,8,0,0,14,1,NaN,NaN
17,d247b8ebeefb0f030bcd0bc582720e9c,Lizette,0,12,0,0,12,0,NaN,NaN
18,0bcd00972615fab8942206546aff4662,B.J.,11,0,0,0,11,1,NaN,NaN
19,630645abeeda490b1745d81ca6fa7850,文宏,0,4,0,0,4,0,NaN,NaN
20,c5c566db8c7fc2945582a24a02851082,Kevin JD,1,0,0,0,1,1,NaN,NaN
21,6c7c3649b1dbfe3c89438b138986d789,Alfred,0,0,0,0,0,0,NaN,NaN
22,name:Arena 6,Arena 6,0,0,0,0,0,0,NaN,NaN
23,82d7d89cdfdc4bd0f359b894e998cf98,Barry,0,0,0,0,0,0,NaN,NaN
24,e5d324b4eca1b03fc70c44746de537a7,Benjamin,0,0,0,0,0,0,NaN,NaN
25,5c80a7e6da6632de5ad933a9838670c2,Celestine Ebuka,0,0,0,0,0,0,NaN,NaN
26,fdaa2e4e18937706b6ed39b8f806cb86,Ck,0,0,0,0,0,0,NaN,NaN
27,647e8c20fea4d1577b88d3316f85c5a0,Dan,0,0,0,0,0,0,NaN,NaN
28,5df0880cd272cf42f773100b2182e09e,Daniel,0,0,0,0,0,0,NaN,NaN
29,11452a2c81832acabfceb6c0acf41140,David,0,0,0,0,0,0,NaN,NaN
30,e455e647ad1de9774a8d728de7dd8c2c,Debi,0,0,0,0,0,0,NaN,NaN
31,f4e0a39a3dad42ccd54bbe7b9fba1488,Emmanuel,0,0,0,0,0,0,NaN,NaN
32,b0a560a0d1c794ed435fa0eb72e4c085,Frank,0,0,0,0,0,0,NaN,NaN
33,91c00e853e43dadbd6a5fedf16181d7c,Heather,0,0,0,0,0,0,NaN,NaN
34,f2cf7eb43583e04a62054c79299839aa,James,0,0,0,0,0,0,NaN,NaN
35,7c725404ee3b78ec4dbf4c9aa7232e1a,Jay,0,0,0,0,0,0,NaN,NaN
36,05b73e4625a3dc40573c3d5ee345a3ae,Julie,0,0,0,0,0,0,NaN,NaN
37,800eca46a100354927f4d80b577a8f0e,Kaleb,0,0,0,0,0,0,NaN,NaN
38,21142d1e52d40b3b94cc5526174b8828,Kath,0,0,0,0,0,0,NaN,NaN
39,72fa75a07f88a9fd77ee2af82e33efd3,Katie,0,0,0,0,0,0,NaN,NaN
40,47438349afbcbd9d2fc4390df71617f7,Krys,0,0,0,0,0,0,NaN,NaN
41,48274afae7cea4d80557100174a63739,Labo,0,0,0,0,0,0,NaN,NaN
42,5d8dc7a4eb1cbd9cd99ec2fd8c57f759,Michael,0,0,0,0,0,0,NaN,NaN
43,801b2f89bbbc2722fc9a1c772736caee,Norman,0,0,0,0,0,0,NaN,NaN
44,b0f6d84ebda898825703576571519899,Shikari,0,0,0,0,0,0,NaN,NaN
45,d3d807cacfbc3e4f6ac48533b9b9d921,Siobhan,0,0,0,0,0,0,NaN,NaN
46,092d0a8a0d1176ae891def5606e993c1,Stephen,0,0,0,0,0,0,NaN,NaN
47,c2fb2c86593c815948595ed295b441e0,Todd,0,0,0,0,0,0,NaN,NaN
48,21fb3dd134ef7f254e1bb700b1cc4267,Tongret,0,0,0,0,0,0,NaN,NaN
49,c2e13ee4a1e81c34023a97599eff2e70,Winston,0,0,0,0,0,0,NaN,NaN
50,e77ed6831e1122b6cab87ce1d42c2d26,Yannis,0,0,0,0,0,0,NaN,NaN